body {
    background-color: #8ba39c;
    margin-right: auto;
    margin-left:  auto;
    max-width: 1200px;
    padding-right: 10px;
    padding-left:  10px;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  .bmi {
    padding-left: 100px;
    padding-right: 100px;
    width: 50%;
    border: 3px solid #606d69;
    align-items: center;
    margin: auto;
    border-radius: 5px;
  background-color: #f2f2f2;
  }
  img{
      align-items: center;
      margin-left: 10em;
  }
 .bmi input[type=text]:focus {
  border: 3px solid #555;
 }
 .bmi input[type=button]{
  background-color: #626862;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 .bmi p {
    padding: 12px 12px 12px 0;
    display: inline-block;
 }
